{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="shortcut icon" href="{% static 'christmas/images/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'christmas/styles/css/style.css' %}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>

    <body>
    </body>
</html>
