{% extends 'history/base.html' %}
{% block title %} Training {% endblock %}
{% block content %}
{% load static %}
  <div class="training">
    <div class="card">
      <h3 class="card-header">Training</h3>
      <div class="card-body">
        <br/>
        <p style="padding: 10px; margin:auto; width: 75%;">
            For this project we needed to collect and understand our data before we could 
            make future predictions of hurricanes from the Atlantic coast. We collected our
            data from <a href="https://www.kaggle.com/noaa/hurricane-database/data"> https://www.kaggle.com/noaa/hurricane-database/data </a>
            Next we need to begin understanding our data so we could pick out a model. We
            chose to use an autoregression model because we mainly wanted to use our data to 
            predict future observations. To make sure we fitting our data fairly, we split our 
            data into thirds and used the first two thirds to train on while leaving the last 
            third to test aganist. Below is the results of the test with the final Mean Squared
            Error of the predictions being 12.448.
        </p>
        <img src="{% static 'history/images/Prediction_Testing.png' %}" id="training-photo"
        style="max-width: 100%;">
      </div>
    </div>
  </div>
    
    

{% endblock %}