{% extends 'history/base.html' %}
{% block title %} About Us {% endblock %}
{% block content %}
{% load static %}
  <div class="aboutUs">
    <div class="card">
      <h3 class="card-header">About Us</h3>
      <div class="card-body">
        <br/>
        <h5>Dylan Staatz</h5>
        <p> 
            <a href="https://github.com/dstaatz"><img src="{% static 'history/images/dylan.png' %}"></a> <br>
            Dylan worked with the prediction model and managed our back end.
            He did most of our file management and overwatched pushes and merges.
        </p>
        <h5>Jie Zheng</h5>
        <p> 
            <a href="https://github.com/jzheng21"><img src="{% static 'history/images/jie.jpg' %}"></a> <br>
            Jie worked to get us up and running on AWS.
        </p>
        <h5>Phillip (Alex) Wendte</h5>
        <p> 
            <a href="https://github.com/themostcolm"><img src="{% static 'history/images/alex.jpg' %}"></a> <br>
            Alex worked on the front end and with the Google API's.
        </p>
        <h5>Shane Riegodedios</h5>
        <p> 
            <a href="https://github.com/sriegodedios"><img src="{% static 'history/images/shane.jpg' %}"></a> <br>
            Shane got the GitHub up and running and started us out with bootstrap.
        </p>
      </div>
    </div>
  </div>
    
    

{% endblock %}