{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="shortcut icon" href="{% static 'christmas/images/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'christmas/styles/css/style.css' %}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <script src="{% static 'christmas/scripts/base.js' %}"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="421515564266-3r1jp4ticqthamh9782vtkgj0l4v96re.apps.googleusercontent.com">
    </head>
    <body>
        <div class="header">
            <span class="main">Christmas Made Simple</span>
            <a class="sign-out button" href="#" onclick="signOut();">Sign out</a>
        </div>

        <a href="#">SDfsdfsd</a>
        {% block content %}
        {% endblock %}
    </body>
</html>
