{% extends 'christmas/base.html' %}
{% block title %} Christmas Made Simple {% endblock %}
{% block content %}
  {% load static %}

  <form action="" method="post">
    <div class="row w-100 justify-content-center">
      {% csrf_token %}
      {% for field in form %}

        <div class="col-10 name-box d-inline mt-5 mb-4" onclick="document.getElementById('id_name').select()">
          {{ field }}
        </div>

      {% endfor %}
    </div>
    <div class="row w-100 justify-content-center">
      <input class="btn btn-danger d-inline mt-0 mb-4" type="submit" value="Create Group" />
    </div>
  </form>

{% endblock %}