{% extends 'christmas/base.html' %}
{% block title %} Create a Set {% endblock %}
{% block content %}
{% load static %}
  <div class="group-create">
    <form action="" method="post">
      {% csrf_token %}
      {% for field in form %}
      <h2>Create Your Collection</h2>
      <div class="row">
        <label for="{{ field.id_for_label }}" class="noselect">
          {{ field.label }}
        </label>
        {{ field }}
        {% endfor %}
      </div>
      <input type="submit" value="Update" />
    </form>
  </div>

{% endblock %}