{% extends 'christmas/base.html' %}
{% block title %} Christmas Made Simple {% endblock %}
{% block content %}
  {% load static %}

  <form action="" method="post">
    {% csrf_token %}

    {% for field in form %}

      <div class="row">
        <div class="col align-self-center" style="text-align: center;">
          {{ field }}
        </div>
      </div>

    {% endfor %}
    
    <br>
    <br>
    
    <div class="row">
      <div class="col align-self-center" style="text-align: center;">
          <input type="submit" value="Create Group" />
      </div>
    </div>

    
  </form>

{% endblock %}