{% extends 'christmas/base.html' %} {% block title %} Group ID {% endblock %} {% block content %}


<form action="" method="post">
  <div class="row w-100 justify-content-center mr-0 ml-0">
    {% csrf_token %} {% for field in form %}

    <div class="col-12 name-box d-inline mt-2 mb-2" onclick="document.getElementById('update').hidden = false;">
      {{ field }}
    </div>

    {% endfor %}

    <div class="col-md-auto d-inline mt-2 mb-2">
      <input hidden class="btn btn-danger self-algin-center h-100" type="submit" value="Update Group Name" id="update" />
    </div>
  </div>
</form>
<br>
<br>
<div class="row w-100 justify-content-center mr-0 ml-0">
  <div class="col pr-0 pl-0">
    <div class="card-columns">

      {% for list in object_list %}
      <div class="card mb-3">
        <div class="card-block">
          <h4 class="card-title">{{ list.0 }}</h4>
          <p class="card-text">
            {% if list.1 %}
            <ul>
              {% for item in list.1 %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
            {% else %} None {% endif %}
          </p>
          <div class="row w-100 justify-content-center mr-0 ml-0">
            <a href="{% url 'view_list' group_id=address list_id=list.0.id %}" class="btn btn-danger mr-5 ml-auto">Edit List</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row w-100 justify-content-center mr-0 ml-0 pb-5">
  <a class="btn btn-danger m-auto" href="{% url 'create_list' group_id=address %}">Create a new list</a>
</div>
{% endblock %}