{% extends 'christmas/base.html' %}
{% block title %} Create a Set {% endblock %}
{% block content %}
{% load static %}
  <div class="item-create">
    <form action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        {% if not field.is_hidden %}
            <p class="input">
                <label for="{{ field.id_for_label }}" class="noselect">
                    <span>{{ field.label }}</span>
                </label>
                {{ field }}
            </p>
        {% else %}
            <p class="input hidden">
                {{ field }}
            </p>
        {% endif %}
      {% endfor %}
      <input type="submit" value="Create" />
    </form>
  </div>

{% endblock %}