{% extends 'christmas/base.html' %} {% block title %} View List {% endblock %} {% block content %} {% load static %}


<div class="row w-100 justify-content-center mr-0 ml-0">
  <div class="card" style="max-width: 500px;">
    <div class="card-block">
      <div class="row w-100 justify-content-left mr-0 ml-0">
        <button class="close ml-0 mr-auto" aria-label="Close">
          <a href="{% url 'view_group' group_id=address %}" style="text-decoration: none; color: black;" aria-hidden="true">&times;</a>
        </button>
      </div>
      <form action="" method="post">
        {% csrf_token %} {% for field in form %}
        <div class="col-12 list-name-box p-0 mb-2" onclick="document.getElementById('update').hidden = false;">
          {{ field }}
        </div>
        {% endfor %}

        <div class="col-md-auto text-center">
          <input hidden class="btn btn-danger self-algin-center h-100 mt-2 mb-2" type="submit" value="Update Name" id="update" />
        </div>
      </form>
      <br>
      <div class="card-text">
        {% if object_list %}
        <div id="accordion" role="tablist" aria-multiselectable="true">
            {% for item in object_list %}
            <div class="col-12 m-auto pl-2 pr-2" style="border-bottom:2px solid black; font-size: 20px" role="tab" id="heading{{ item.id }}">
              <a style="text-decoration: none; color: black;" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ item.id }}"
                aria-expanded="true" aria-controls="collapse{{ item.id }}">
                {{ item }}
              </a>
            </div>
            <div id="collapse{{ item.id }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ item.id }}">
              <div class="card-block">
                <p>
                  {{ item.description }}
                </p>
                <div class="row w-100 mr-0 ml-0">
                  <div class="col-12">
                    <a class="btn btn-danger m-auto" style="width: 100px;" href="{% url 'view_item' group_id=address list_id=list_id item_id=item.id %}">
                      Edit Item
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        {% else %}
        <p class="text-center">There are no items here yet!
          <br>Press the Add Item button to get started!!
        </p>
        {% endif %}
      </div>
      <br>
      <div class="row w-100 justify-content-center mr-0 ml-0">
        <div class="col-6 text-center">
          <a class="btn btn-danger" style="width: 110px; margin: 0 auto;" href="{% url 'delete_list' group_id=address list_id=list_id %}">Delete List</a>
        </div>
        <div class="col-6 text-center">
          <a class="btn btn-danger" style="width: 110px; margin: 0 auto;" href="{% url 'create_item' group_id=address list_id=list_id %}">Add Item</a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}