{% extends 'christmas/base.html' %} {% block title %} Create a List {% endblock %} {% block content %} {% load static %}


<div class="row w-100 h-100 justify-content-center mr-0 ml-0 pb-5">
  <div class="col m-auto pb-5 pr-0 pl-0">
    <div class="card m-auto" style="max-width: 350px;">
      <div class="card-block text-center">
        <h3 class="card-title">Create a New List</h3>
        <div class="card-text pt-4 pb-4">
          <form action="" method="post">
            
            {% csrf_token %} {% for field in form %}
              <div class="input-field">
                <label for="{{ field.id_for_label }}" class="noselect">
                  <span>{{ field.label }}</span>
                </label>
                {{ field }}
              </div>
            {% endfor %}

          </form>
        </div>
        <input class="btn btn-danger" type="submit" value="Create" />
      </div>
    </div>
  </div>
</div>

{% endblock %}