{% extends 'christmas/base.html' %}
{% block title %} Edit List {% endblock %}
{% block content %}
{% load static %}

<div class="list-update flex-body">
    
    <form action="" method="post">
        <h2>Edit your list set name</h2>
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <input type="submit" value="Update" />
    </form>
    
    <ul>
        {% for item in object_list %}
            <li><a href="{% url 'view_item' group_id=address list_id=list_id item_id=item.id %}">{{ item }}</a></li>
        {% endfor %}
    </ul>

    <div class="row">
        <a class="button" href="{% url 'create_item' group_id=address list_id=list_id %}">Add a new item</a>
    </div>

</div>
    
{%endblock%}
