{% extends 'christmas/base.html' %} {% block title %} Create List {% endblock %} {% block content %} {% load static %}

<form action="" method="post">
  <div class="row w-100 h-100 justify-content-center mr-0 ml-0 pb-5">
    <div class="col m-auto pb-5 pr-0 pl-0">
      <div class="card m-auto" style="max-width: 350px;">
        <div class="card-block text-center">
          <div class="row w-100 justify-content-left mr-0 ml-0">
            <button class="close ml-0 mr-auto" aria-label="Close">
              <a href="{% url 'view_list' group_id=address list_id=list_id %}" style="text-decoration: none; color: black;" aria-hidden="true">&times;</a>
            </button>
          </div>
          <div class="card-text pr-3 pl-3 pb-2 pt-2 mb-3">
            {% csrf_token %}
            <h5>
              Are you sure you want to delete "{{ object }}"?
            </h5>
          </div>
          <input class="btn btn-danger mb-3" type="submit" value="Confirm" />
          <p class="mb-0" style="font-size: 12px;">
            This will remove all items associated with this list and this action
            <b>cannot be undo.</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}