{% extends 'christmas/base.html' %}
{% block title %} Create a List {% endblock %}
{% block content %}
{% load static %}
  <div class="list-create flex-body">
    <form class="flex-form" action="" method="post">
      <h2>Add Your List</h2>
      {% csrf_token %}
      {% for field in form %}
        {% if not field.is_hidden %}
            <div class="row">
                <label for="{{ field.id_for_label }}" class="noselect">
                    <span>{{ field.label }}</span>
                </label>
                {{ field }}
            </div>
        {% else %}
            <p class="input hidden">
                {{ field }}
            </p>
        {% endif %}
      {% endfor %}
      <input class="button" type="submit" value="Create" />
    </form>
  </div>

{% endblock %}