@import 'variables';

body{
  background-color: $background-color;
  font-size: 1.6rem;
  .header{
    padding: 1rem;
    line-height: 2rem;
    .main{
      position: relative;
      padding: 1rem;
      display: inline-block;
      font-size: 3.2rem;
      color: #fff;
      font-weight: 600;
    }
    .sign-out{
      padding: 1rem;
      position: relative;
      float: right;
      font-weight: 600;
      border-radius: 1em;
      background-color: white;
      color: $accent-color;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
      cursor: pointer;
      z-index:5;
    }
  }
}