@import 'variables';
html{
  height: 100%;
}
body{
  background-color: $background-color;
  font-size: 1.6rem;
  height: 100%;
  .sign-out{
    padding: 1em;
    position: relative;
    float: right;
    top: .5em;
    right: .5em;
    font-weight: 600;
    border-radius: 1em;
    background-color: white;
    color: $accent-color;
  }
}