@import 'variables';
html{
  .button{
    padding: 1em;
    background-color: #fff;
    border-radius: .5em;
    font-weight: 600;
    margin: 0 1em;
    
  }
  a.button{
    color: $accent-color;
  }
}