*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none; }

html {
  font-size: 62.5%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.87rem; }

h4 {
  font-size: 1.79rem; }

h5 {
  font-size: 1.33rem; }

h6 {
  font-size: 1.2rem; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html .button {
  padding: 1em;
  background-color: #fff;
  border-radius: .5em;
  font-weight: 600;
  margin: 0 1em;
  color: #006611;
  border: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
  z-index: 5;
  cursor: pointer; }
html a.button {
  color: #006611;
  z-index: 5; }
html .flex-body {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 100%; }

.group-create form, .group-update form {
  background-color: #006611;
  padding: 2em 4em;
  border-radius: 1em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column; }
  .group-create form h2, .group-update form h2 {
    color: #fff; }
  .group-create form label, .group-update form label {
    color: #fff; }
  .group-create form input[type="text"], .group-update form input[type="text"] {
    line-height: 1.5em;
    margin: 1em;
    padding: .2em;
    border: none;
    border-radius: .2em; }
  .group-create form input[type="submit"], .group-update form input[type="submit"] {
    padding: 1em;
    color: #006611;
    background-color: #fff;
    border-radius: 1em;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer; }
.group-create .group-update form, .group-update .group-update form {
  padding: 3em 4em; }

.group-update {
  flex-direction: column; }
  .group-update .row {
    padding-top: 3em; }

.index a {
  color: #fff; }
.index p {
  color: #fff;
  display: inline-block; }
.index p:last-child {
  color: #df0d0d;
  font-weight: 700;
  padding-left: .25em; }
.index .card {
  margin: 0 auto;
  background-color: #006611;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .index .card .row:first-child {
    font-size: 3.2rem;
    clear: both;
    line-height: 1em;
    height: 1em;
    width: 12.8em; }
  .index .card .row {
    margin: .5em 0;
    display: flex;
    text-align: center; }

body {
  background-color: #00661194;
  font-size: 1.6rem; }
  body .header {
    padding: 1rem;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    background-color: #993333;
    z-index: 4; }
    body .header .main {
      position: relative;
      display: inline-block;
      font-size: 3.2rem;
      color: #fff;
      font-weight: 600; }
    body .header .sign-out {
      float: right;
      display: block;
      padding: 1rem;
      margin: 0;
      z-index: 5;
      cursor: pointer; }
    body .header a.sign-out {
      z-index: 5;
      cursor: pointer; }
    body .header a.sign-out:hover {
      cursor: pointer; }
  body a:hover {
    cursor: pointer; }

.list-create form {
  background-color: #006611;
  padding: 2em 4em;
  border-radius: 1em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column; }
  .list-create form h2 {
    color: #fff; }
  .list-create form label {
    color: #fff; }
  .list-create form input[type="text"] {
    line-height: 1.5em;
    margin: 1em;
    padding: .2em;
    border: none;
    border-radius: .2em; }
  .list-create form input[type="submit"] {
    padding: 1em;
    color: #006611;
    background-color: #fff;
    border-radius: 1em;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
